<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Sunset-IV
    body
        h1 ;) Sunset-IV
        p
            | Welcome to OjvarLand, #{ name }
            br
            | If you can view VisitCount value without any problem, then congratulate ;) session module has been worked successfully
            br
            h3 VisitCount: #{ visitCount }